body{
    font-family: sans-serif;
    background-color: #1E202B;
}

.logo-text h1{
font-size: 16px;


}

.logo-text small{
    font-size: 10px;
}

.navbar{
    background-color: #1E202B ;
    
}


.logo img {
    width: 64px;
    height: 38px;
}


.site-title {
    margin-bottom: 0;
    font-size: 1.1428571429em;
}


.site-description {
    font-size: 0.7142857143em;
    color: #bfc1c8;
}


@media screen and (min-width: 991px) {
    .main-navigation .menu-toggle {
        display: none;
    }
}

.menu-item {
    margin-left: 10px;
}

.nav-link {
    --bs-navbar-nav-link-padding-x: 25px;
    --bs-navbar-nav-link-padding-y: 0px;
}

.navbar-nav {
    --bs-nav-link-padding-y: 5px;
}

.menu-item a {
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 400;
    color: #fff;
}

.navbar-nav .nav-link.active {
    border: 2px solid #009ad8;
    color: #009ad8;
}

.menu-toggle:hover {
    border-color: #009ad8;
    color: #009ad8;
}

.menu-item:hover a {
    border-color: #009ad8;
    color: #009ad8;
}
.layer{
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: -50px;
}

#today-date{
    background-color: #2D303D;
}
#today-state{
    color:#009ad8 ;
}

.item-content{
    background-color: #323544;
}

.degreee{
    font-size: 90px;
}

.item-footer img{
    width: 20px;
    height: 20px;
}

.tomorrow{
    background-color: #222530;
}
.site-footer{
    background-color: #323544;
}